.header{
    text-align: center;
    font-size: 75px;
    color: white;
}
h1{
    color: white;
    background-color: #6d6da2;
    border-style: solid;
    border-color: black;
}
.content{
    text-align: center;
}
.paragraphs{
    max-width: 750px;
    display: inline-block;
}
p{
    text-align: center
}

.side-bar{
        max-width: 300px;
        display: inline-block;
}
h3{
    border-top: aliceblue;
    border-top-style: solid;
    border-top-width: 75px;
    padding-top: 15px;
    }